@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
#canvas-container {
    height: auto;
    width: 100%;
    text-align:center;
 }
.gameName h1{
    line-height: 50%;
    font-size: 40px;
    color: #82b1ff;
    font-family: 'Silkscreen', cursive;
}
.gameName i{
    font-size: 100px;
    color: #1168e1;
}
canvas {
    display: inline;
    border-radius: 20px;
    border: 5px #82b1ff solid;
}
.gameBtn{
    font-size: 40px;
    color: #1168e1;
    background-color: #82b1ff;
    font-family: 'Silkscreen', cursive;
    border: none;
}
.gameBtn a:hover{
    /* background-color: black; */
    color: white;
}
.gameBtn a{
    text-decoration: none;
}